{% extends "_admin_template.html.twig" %}

{% block title %}
    Nouvelle catégorie
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Nouvelle catégorie</h1>

        {% include 'admin_category/_category_form.html.twig' %}
    </div>
{% endblock %}